################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Drivis/Drivis.XForms/Drivis.XForms/obj/Debug
/Drivis/Drivis.XForms/Drivis.XForms.Droid/obj/Debug
/Drivis/Drivis.XForms/Drivis.XForms.WinPhone/obj/Debug
/Drivis/Drivis.XForms/Drivis.XForms.iOS/obj/iPhone/Debug
/Drivis/packages
*.user
/Drivis/Drivis.Core/obj/Debug
/Drivis/Drivis.XForms/Drivis.XForms/bin/Debug
/Drivis/Drivis.XForms/Drivis.XForms.Droid/bin/Debug
/Drivis/Drivis.XForms/Drivis.XForms.iOS/bin/iPhone/Debug
/Drivis/Drivis.XForms/Drivis.XForms.WinPhone/Bin/x86/Debug
/Drivis/Drivis.XForms/Drivis.XForms.WinPhone/obj/x86/Debug
/Drivis/Drivis.Core/bin/Debug
*.userprefs
/Drivis/UITests/obj/Debug
/Drivis/UITests/bin/Debug
/Drivis/Drivis.XForms/Drivis.XForms.WinPhone/Bin/Debug
/Drivis/UITests/Drivis.Droid.UITests/obj/Debug
/Drivis/UITests/Drivis.Droid.UITests/bin/Debug
